.mainimg {
	width: 20%;
	height: 350px;
	margin-right: 4%;
	float: left;
	
}

.topdiv {
	padding-bottom: 12%;
}







.achimg {
	width: 20%;
	height: 20%;
	border: 3px solid #003300;
	margin-left: 20%;
	padding-top: 2px;
	
}


.logos {
	width: 20%;
	margin-left: 10%;
	padding-bottom: 2%;
	
}


.mainpara {
	width: 90%;
	font-family: Mina;




}


.lang-butt-html {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #ff0000;

}

.lang-butt-css {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #0066ff;

}

.lang-butt-js {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #ffff00;

}




h1 {
	text-align: center;
	font-family: anton;

}

h2 {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;

}

.body-index {
	background: #a6a6a6;
	padding-left: 4px;
	padding-bottom: 4px;
}



