.mainimg {
	width: 20%;
	height: 350px;
	margin-left: 41%;
	padding-bottom: 10px;
}

.main2img {
	width:60%;
	height: 30%;
}



.achimg {
	width: 20%;
	height: 20%;
	border: 3px solid #003300;
	margin-left: 20%;
	padding-top: 2px;
	
}


.logos {
	width: 20%;
	margin-left: 10%;
	
}


.mainpara {
	width: 90%;
	border: 2px solid #000000;
	background:  #b3e0ff;
	float: center;
	margin-left: 5%;
	margin-bottom: 3%;
	padding: 4px;
	font-family: Mina;
}


.lang-butt-html {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #ff0000;

}

.lang-butt-css {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #0066ff;

}

.lang-butt-js {
	margin-top: 2%;
	margin-left: 21.8%;
	color: #ffff00;

}


.butt-div {
	width: 90%;
	background: #99e6ff;
	padding: 1%;
	margin-left: 4.55%;
	border: 1px dotted #000;

}


h1 {
	text-align: center;
	font-family: anton;

}

h2 {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;

}

.body-index {
	background: linear-gradient(#8c8c8c,#ccffff);
	padding-left: 4px;
	padding-bottom: 4px;
}



