body {
	background-image: url(Background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}



#heading {
	color: #000000;
	text-align: center;
	background-color: #808080;
	border-radius: 10px;
	font-family: Roboto Mono;
	margin-top: 30px;
	margin-left: 22.5%;
	margin-bottom: 40px;
	padding: 1px;
	width: 700px;

}

.mainpara {
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: Roboto Mono;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 26%;
    width: 700px;
    padding: 8px;
    
}

#content {
	background-color: #f2f2f2;
	text-align: center;
	border-radius: 10px;
	width: 700px;
	margin-top: 100px;
	margin-left: 26%;
	padding: 8px;
	font-family: Roboto Mono;
	font-size: 18px;
}

#leftmenu {
	background-color: #000000;
	float: left;
	width: 20%;
	margin-top: 30px;
	margin-right: 6%;
	border-radius: 10px;
	font-family: Roboto Mono;

}

#leftmenu, ol {
    list-style: none;

}

#leftmenu, li {
	padding: 10px;
	color: #f2f2f2;
	margin-right: 30px;
}

#leftmenu, p {
	text-align: center;
}

#content .htmllogo {
	width: 100px;
	height: 100px;
	margin-left: 1.8%;


}

#content .css3logo {
	width: 100px;
	height: 100px;
	margin-left: 1.8%;
}

#content .javalogo {
	width: 100px;
	height: 100px;
	margin-left: 1.8%;
}

.htmlspan {
	color: #ff0000;

}

.css3span {
	color: #0000ff;
	
}

.javaspan {
	color: #ffcc00;
	
}