.bodimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	
}



#heading {
	color: #000000;
	text-align: center;
	background-color: #d9d9d9;
	background-position: center;
	margin-top: 20px;
	margin-left: 22.5%;
	padding: 2px;
	width: 700px;

}


